flex-start: 요소들을 컨테이너의 왼쪽으로 정렬합니다.
flex-end: 요소들을 컨테이너의 오른쪽으로 정렬합니다.
center: 요소들을 컨테이너의 가운데로 정렬합니다.
space-between: 요소들 사이에 동일한 간격을 둡니다.
space-around: 요소들 주위에 동일한 간격을 둡니다.

/* 1 */
#pond {
    display: flex;
    justfy-content:flex-end;
    }

/* 2 */
#pond {
  display: flex;
  justify-content:center
  }

/* 3 */  
#pond {
  display: flex;
  justify-content: flex-betwwen
  }

/* 4 */  
#pond {
    display: flex;
    justify-content: space-between;
    }  

/* 5 */  
#pond {
    display: flex;
    align-items: flex-end;
      }

/* 6 */        
#pond {
    display: flex;
    justify-content: center;
    align-items: center;
      }      

/* 7 */   
#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
      }      

/* 8 */       
#pond {
    display: flex;
    flex-direction: row-reverse;
      }      

/* 9 */ 
#pond {
    display: flex;
    flex-direction: column;
      }

/* 10 */ 
#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
      }

/* 11 */ 
#pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
      }  
      
/* 12 */       
#pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
      }

/* 13 flex-direction, justify-content, 그리고 align-items를 사용하여 개구리들이 자기 색깔과 같은 수련잎 위로 
     이동할 수 있도록 도와주세요.*/ 
#pond {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
      }

/* 14 때때로 컨테이너의 row나 column의 순서를 역으로 바꾸는 것만으로는 충분하지 않습니다. 이러한 경우에는 order 속성을 
      각 요소에 적용할 수 있습니다. order의 기본 값은 0이며, 양수나 음수로 바꿀 수 있습니다. */ 
#pond {
    display: flex;
      }
      
.yellow {
    order: 1;
      }

/* 15 */ 
#pond {
    display: flex;
      }
      
.red {
    order: -1
      }

/* 16 */
#pond {
    display: flex;
    align-items: flex-start;
      }
      
.yellow {
    align-self: flex-end;
      }     
      
#pond {
    display: flex;
    align-items: flex-start;
      }
 
 /* 17 */     
.yellow {
    order: 1;
    align-self: flex-end;
      }      

 /* 18 */  
#pond {
    display: flex;
    flex-wrap: wrap;
      }

 /* 19 */  
#pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      }

 /* 20 */  
#pond {
    display: flex;
    flex-flow: column wrap;
      }


 /* 21 */  
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
      }

 /* 22 */ 
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
      }

 /* 23 */ 
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
      }

 /* 24 */ 
#pond {
    display: flex;
    flex-flow: column-reverse wrap-reverse;
    justify-content: center;
    align-content: space-between;
      }